services:
  db:
    image: postgres:16-alpine
    container_name: inventory-management-db
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - proxy

  web:
    build: .
    container_name: inventory-management
    env_file:
      - .env
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.inventory-management.rule=Host(`inventory-management.cooper-host.com`)"
      - "traefik.http.routers.inventory-management.entrypoints=websecure"
      - "traefik.http.services.inventory-managemenet.loadbalancer.server.port=3000"
      - "traefik.http.routers.inventory-management.tls=true"
      - "traefik.http.routers.inventory-management.tls.certresolver=letsencrypt"
    networks:
      - proxy

volumes:
  pg_data:

networks:
  proxy:
    external: true
    name: "proxy"
